<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>authentication system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark navbar-dark p-2">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Employee</span>
    </div>
    </nav>
    <h1 class="text-center text-success">Login to go ahead</h1>
    <div class="container-fluid">
        {% if request.user.is_authenticated %}
            <p class="text-success">You are Logged In</p>
            <p class="text-success">Username : {{ request.user.username }}</p>
            <p class="text-success">first_name: {{ request.user.first_name }}</p>
            <p class="text-success">last_name: {{ request.user.last_name }}</p>
            <a href={% url 'insert-emp' %}>Fill to Employee details</a>
            <a href={% url 'logout' %} type="button" class="btn btn-success btn-lg">logout user</a>
        {% else %}
            <p class=" h3 text-danger">User is logged out</p><a href={% url 'register' %} type="button" class="btn btn-success
            btn-lg">Register</a>
            <a href={% url 'login' %} type="button" class="btn btn-success
            btn-lg">login</a>
        {% endif %}
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>